*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  font-family: Arial, Helvetica, sans-serif;
}
.top-front
{
  margin-left: 200px;
  padding-top: 10px;
}
.top-front > p
{
  margin-left: 10px;
  color: rgb(148, 147, 147);
  margin-bottom: 50px;
}
.header
{
  display: flex;
  margin-left: 200px;
  gap: 20px;
  margin-bottom: 15px;
}
a{
  color: black;
}
a:link{
  text-decoration: none;
}
a:hover{
  color: rgb(184, 183, 183);
  font-size: 16px;
}
a:active{
  color: rgb(92, 80, 202);
  font-size: 16px;
}
.main
{
 display: grid;
 grid-template-columns: 1fr 2fr ;
 gap: 80px;
 justify-content:space-around;
 margin-left: 120px;
 margin-right: 50px;
 margin-top: 30px;
}
.right-text
{
  margin-left: 60px;
}
.right-text > p 
{
  margin-top: 20px;
}
.left-text > p{
  margin-top: 20px;
}
.left-boom > p{
  margin-top: 20px;
}
.logo
{
  margin-left: 60px;
  gap: 20px;
}
.logo img{
  margin-left: 40px;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 60px;
}
.footer
{
  background-color: #7807f1;
  color: white;
  display: grid;
  grid-template-columns: 150px  200px 100px 100px;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 30px;
}
hr
{
  border-color: #750de4;
}
.navegation> p{
  margin-top: 10px;
  line-height: 1.5;
}
.archives > p{
  margin-top: 10px;
  line-height: 1.5;
}
.about > p{
  margin-top: 10px;
  line-height: 1.5;
}
.map > p{
  line-height: 1.5;
}
iframe{
  padding-top: 10px;
}
  